include README.md
include pyproject.toml
recursive-include nexelpy *.py *.html *.css *.js *.ts *.json *.zip *.gz *.xz *.db
prune nexelpy/criptyle/nodjs/node-v24.18.0-linux-x64
global-exclude *.py[cod] __pycache__ *.so .DS_Store

